{% extends ':admin:base.html.twig' %}

{% set sideMenuActiveSection = 'zekr' %}

{% block breadcrumb %}
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{{ path('admin_main_home') }}">الرئيسة</a>
            </li>
            <li><a href="{{ path('zekr_juz_list') }}">أسماء الأجزاء</a></li>
            <li class="active">اسم جزء</li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>اسم جزء</h1>
    </div>

    <div class="btn-group fly">
        <a class="btn btn-sm btn-inverse" href="{{ path('zekr_juz_list') }}">القائمة</a>
        <a class="btn btn-sm btn-info" href="{{ path('zekr_juz_edit', { 'id': entity.id }) }}">تعديل</a>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th width="100">Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>الإسم</th>
                    <td>
                        <table class="table table-bordered table-striped">
                            <tbody>
                            {% for language in adminHelper.getLanguages() %}
                                <tr>
                                    <th width="10%">{{ language.name }}</th>
                                    <td>{{ entity.translate(language.locale).name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>عدد الفديوهات</th>
                    <td>{{ entity.numTopics }}</td>
                </tr>
                <tr>
                    <th>المعرف</th>
                    <td>{{ entity.slug }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}