{% extends ':admin:base.html.twig' %}
{% import "AdminBundle:Main:_helper.html.twig" as helper %}

{% set sideMenuActiveSection = 'config' %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/ace/assets/css/chosen.css') }}"/>
{% endblock %}
{% block breadcrumb %}
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{{ path('admin_main_home') }}">الرئيسة</a>
            </li>
            <li class="active">الإعدادات</li>
        </ul>
    </div>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>الإعدادات</h1>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <form action="{{ path('zekr_config_variable_list') }}" method="post">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <tbody>
                        {% for variable in variables %}
                            <tr>
                                <td>{{ variable.variable }}</td>
                                <td>
                                    {% if variable.type is constant('\\ConfigBundle\\Entity\\ConfigVariable::NUMERIC') %}
                                        <input type="number" name="{{ variable.variable }}" value="{{ variable.value }}"/>
                                    {% elseif variable.type is constant('\\ConfigBundle\\Entity\\ConfigVariable::STRING') %}
                                        <input type="text" name="{{ variable.variable }}" value="{{ variable.value }}"/>
                                    {% elseif variable.type is constant('\\ConfigBundle\\Entity\\ConfigVariable::TEXT') %}
                                        <textarea name="{{ variable.variable }}">{{ variable.value }}</textarea>
                                    {% elseif variable.type is constant('\\ConfigBundle\\Entity\\ConfigVariable::CHOICE') %}
                                        <select name="{{ variable.variable }}" class="width-50 chosen-select" data-placeholder="اختر">
                                            <option value=""></option>
                                            {% for key,value in variable.data|json_decode(true) %}
                                                <option value="{{ value }}" {% if value == variable.value %} selected="selected" {% endif %}>{{ key }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elseif variable.type is constant('\\ConfigBundle\\Entity\\ConfigVariable::BOOLEAN') %}
                                        <input type="checkbox" name="{{ variable.variable }}" class="ace ace-switch ace-switch-5" value="1" {% if 1 == variable.value %} checked="1" {% endif %}>
                                        <span class="lbl"></span>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-inline">
                        <input type="submit" value="اعتمد" class="btn btn-sm btn-primary">
                    </div>
                </form>
            </div><!-- /.table-responsive -->
        </div><!-- /span -->

    </div><!-- /row -->

{% endblock %}

{% block bottomScripts %}
    {{ helper.gridJavaScripts(path('zekr_config_variable_list')) }}

    <script type="text/javascript">
        function disableFormElements(disable) {
            $(':input[type="submit"]').prop('disabled', disable);
        }

        $(function () {
            $(".chosen-select").chosen();
        });
    </script>

{% endblock %}
