{% extends ':admin:base.html.twig' %}

{% import "AdminBundle:Main:_helper.html.twig" as helper %}

{% set sideMenuActiveSection = 'zekr' %}

{% block breadcrumb %}
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="{{ path('admin_main_home') }}">الرئيسة</a>
            </li>
            <li><a href="{{ path('zekr_rewaya_list') }}">الروايات</a></li>
            <li class="active">إضافة رواية</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>إضافة رواية</h1>
</div>

<div class="btn-group fly">
    <a class="btn btn-sm btn-inverse" href="{{ path('zekr_rewaya_list') }}">القائمة</a>
</div>

<div class="row">
    <div class="col-xs-12">

        {{ helper.showTranslatableFormErrorAlertIfAny(form) }}

        {{ form_errors(form) }}
        {{ form_start(form, {'attr': {'novalidate':'true', 'class': 'form-horizontal', 'role':'form'}}) }}

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> {{ form_label(form.plainSlug) }} </label>
            <div class="col-sm-10">
                {{ form_errors(form.plainSlug) }}
                {{ form_widget(form.plainSlug) }}
            </div>
        </div>

        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                {% for language in adminHelper.getLanguages() %}
                    <li{% if loop.first %} class="active"{% endif %}>
                        <a data-toggle="tab" href="#tab{{ language.id }}">{{ language.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for language in adminHelper.getLanguages() %}
                    <div id="tab{{ language.id }}" class="tab-pane{% if loop.first %} in active{% endif %}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> {{ form_label(form['name_'~language.locale]) }} </label>
                            <div class="col-sm-10">
                                {{ form_errors(form['name_'~language.locale]) }}
                                {{ form_widget(form['name_'~language.locale]) }}
                            </div>
                        </div>
                        <div class="space-4"></div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right"> {{ form_label(form.active) }} </label>
            <div class="col-sm-10">
                <label>
                    {{ form_errors(form.active) }}
                    {{ form_widget(form.active) }}
                    <span class="lbl"></span>
                </label>

            </div>
        </div>
            <div class="space-4"></div>

            {{ form_rest(form) }}

            <div class="clearfix form-actions">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-info" type="submit" name="submit">
                        <i class="icon-ok bigger-110"></i>                       إضافة
                    </button>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}

